<div class="container-fluid" style="padding-top: 19px;">
	<fieldset style="border: 1px groove #ddd !important;padding: 0 1.4em 1.4em 1.4em !important;margin: 0 0 1.5em 0 !important;-webkit-box-shadow:  0px 0px 0px 0px #000;box-shadow:  0px 0px 0px 0px #000;">
		<legend style="width:inherit;padding:0 10px;border-bottom:none;">Tipo do Acidente</legend>
		<div class="row">
			<div class="col-md-3">
				<label class='label-tipo-acid-obrigatorio'><input [disabled]="edatService.edicaoDAT == false" type="radio" name="tipoAcidente" [checked]="edatService.eDAT.acidenteDat[0].tipoAcidente == 'Abalroamento'" (change)="alteraTipoAcidente('Abalroamento');" >Abalroamento</label>
				<span
					rel="popover"
					data-img="assets/Icones-eDAT-01.png"
					style="width:50px"
					title="Abalroamento: ocorre quando um veículo em movimento é colhido lateral ou transversalmente, por um veículo, também em movimento."
					class='glyphicon glyphicon-question-sign'>
				</span>
			</div>
			<div class="col-md-3">
				<label class='label-tipo-acid-obrigatorio'><input [disabled]="edatService.edicaoDAT == false" type="radio" name="tipoAcidente" [checked]="edatService.eDAT.acidenteDat[0].tipoAcidente == 'Choque'" (change)="alteraTipoAcidente('Choque');" >Choque</label>
				<span
					rel="popover"
					data-img="assets/Icones-eDAT-02.png"
					style="width:50px"
					title="Choque: é o impacto de um veículo em movimento contra qualquer obstáculo: poste, muro, árvore, etc., inclusive com outro veículo estacionado ou parado."
					class='glyphicon glyphicon-question-sign'>
				</span>			</div>
			<div class="col-md-3">
				<label class='label-tipo-acid-obrigatorio'><input [disabled]="edatService.edicaoDAT == false" type="radio" name="tipoAcidente" [checked]="edatService.eDAT.acidenteDat[0].tipoAcidente == 'Tombamento'" (change)="alteraTipoAcidente('Tombamento');" >Tombamento</label>
				<span
					rel="popover"
					data-img="assets/Icones-eDAT-03.png"
					style="width:50px"
					title="Tombamento: ocorre quando o veículo sai de sua posição normal, se imobilizando sobre uma de suas laterais, sua frente ou sua traseira."
					class='glyphicon glyphicon-question-sign'>
				</span>			</div>
			<div class="col-md-3">
				<label class='label-tipo-acid-obrigatorio'><input [disabled]="edatService.edicaoDAT == false" type="radio" name="tipoAcidente" [checked]="edatService.eDAT.acidenteDat[0].tipoAcidente == 'Colisão'" (change)="alteraTipoAcidente('Colisão');" >Colisão</label>
				<span
					rel="popover"
					data-img="assets/Icones-eDAT-04.png"
					style="width:50px"
					title="Colisão: é o impacto de dois ou mais veículos em movimento, frente a frente ou pela traseira."
					class='glyphicon glyphicon-question-sign'>
				</span>			</div>
			<div class="col-md-3">
				<label class='label-tipo-acid-obrigatorio'><input [disabled]="edatService.edicaoDAT == false" type="radio" name="tipoAcidente" [checked]="edatService.eDAT.acidenteDat[0].tipoAcidente == 'Capotamento'" (change)="alteraTipoAcidente('Capotamento');" >Capotamento</label>
				<span
					rel="popover"
					data-img="assets/Icones-eDAT-05.png"
					style="width:50px"
					title="Capotamento: quando um veículo em movimento gira em qualquer sentido, ficando com as rodas para cima, mesmo que momentaneamente."
					class='glyphicon glyphicon-question-sign'>
				</span>			</div>
			<div class="col-md-3">
				<label class='label-tipo-acid-obrigatorio'><input [disabled]="edatService.edicaoDAT == false" type="radio" name="tipoAcidente" [checked]="edatService.eDAT.acidenteDat[0].tipoAcidente == 'Outro'" (change)="alteraTipoAcidente('Outro');" >Outro</label>
			</div>
		</div>
	</fieldset>
	<fieldset style="border: 1px groove #ddd !important;padding: 0 1.4em 1.4em 1.4em !important;margin: 0 0 1.5em 0 !important;-webkit-box-shadow:  0px 0px 0px 0px #000;box-shadow:  0px 0px 0px 0px #000;">
		<legend style="width:inherit;padding:0 10px;border-bottom:none;">Dados do Acidente</legend>
		<div class="row">
			<div class="form-group col-md-3">
			  <label class="control-label" for="dataAcidente">Data</label>
				<input type="text" id="dataAcidente" class="form-control date-picker-settran"
				[(ngModel)]="edatService.eDAT.acidenteDat[0].dataAcidente"
				[disabled]="edatService.edicaoDAT == false">
			</div>
			<div class="form-group col-md-3">
			  <label class="control-label" for="horaAcidente">Hora</label>
			  <input type="time" class="form-control" id="horaAcidente"
				[(ngModel)]="edatService.eDAT.acidenteDat[0].horaAcidente"
				[disabled]="edatService.edicaoDAT == false">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
			  <label class="control-label" for="municipio">Município</label>
			  <input type="text" class="form-control" id="municipio" readonly [(ngModel)]="this.edatService.eDAT.acidenteDat[0].logradouro.nomeCidade">
			</div>
			<div class="form-group col-md-2">
			  <label class="control-label" for="bairro">Bairro</label>
			  <input type="text" class="form-control" id="bairro" readonly [(ngModel)]="edatService.eDAT.acidenteDat[0].logradouro.nomeBairro">
			</div>
			<div class="form-group col-md-4">
			  <label class="control-label" for="zona">Zona</label><br/>
			  <label class='label-zona-obrigatorio'><input type="radio" name="zona"
					[checked]="edatService.eDAT.acidenteDat[0].zona == 'RURAL'"
					(change)="alteraZona('RURAL');"
					[disabled]="edatService.edicaoDAT == false">Rural</label>
			  <label class='label-zona-obrigatorio'><input type="radio" name="zona"
					[checked]="edatService.eDAT.acidenteDat[0].zona == 'URBANA'"
					(change)="alteraZona('URBANA');"
					[disabled]="edatService.edicaoDAT == false">Urbana</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
			  <label class="control-label" for="tipoLogradouro">Tipo Logradouro</label>
			  <input type="text" class="form-control" id="tipoLogradouro" [(ngModel)]="edatService.eDAT.acidenteDat[0].logradouro.tipoLogradouro" readonly>
			</div>
			<div class="form-group col-md-8">
			  <label class="control-label" for="logradouro">Logradouro (Suprima da pesquisa prefixos como Rua, Avenida, etc)</label>
			  <div class="ui-widget">
				<input type="text" class="form-control logradouro-auto-complete" id="logradouro"
				[(ngModel)]="edatService.eDAT.acidenteDat[0].logradouro.nomeLogradouro"
				[disabled]="edatService.edicaoDAT == false">
			  </div>
			</div>
			<div class="form-group col-md-2 nao-obrigatorio">
			  <label class="control-label" for="numeroEndereco">Nº</label>
			  <input type="text" class="form-control" id="numeroEndereco"
				[(ngModel)]="edatService.eDAT.acidenteDat[0].numeroEndereco"
				[disabled]="edatService.edicaoDAT == false">
			</div>
		</div>
	</fieldset>
	<fieldset style="border: 1px groove #ddd !important;padding: 0 1.4em 1.4em 1.4em !important;margin: 0 0 1.5em 0 !important;-webkit-box-shadow:  0px 0px 0px 0px #000;box-shadow:  0px 0px 0px 0px #000;">
		<legend style="width:inherit;padding:0 10px;border-bottom:none;">Cruzamento com</legend>
		<div class="row">
			<div class="form-group col-md-2 nao-obrigatorio">
			  <label class="control-label" for="tipoLogradouroCruz">Tipo Logradouro</label>
			  <input type="text" class="form-control" id="tipoLogradouroCruz" readonly [(ngModel)]="edatService.eDAT.acidenteDat[0].logradouroCruzamento.tipoLogradouro">
			</div>
			<div class="form-group col-md-8 nao-obrigatorio">
			  <label class="control-label" for="logradouroCruz">Logradouro (Suprima da pesquisa prefixos como Rua, Avenida, etc)</label>
			  <input type="text" class="form-control logradouro-auto-complete" id="logradouroCruz"
				[(ngModel)]="edatService.eDAT.acidenteDat[0].logradouroCruzamento.nomeLogradouro"
				[disabled]="edatService.edicaoDAT == false">
			</div>
			<div class="form-group col-md-2 nao-obrigatorio">
			  <label class="control-label" for="numeroLogradouroAcidenteCruzamento">Nº</label>
			  <input type="text" class="form-control" id="numeroLogradouroAcidenteCruzamento"
				[(ngModel)]="edatService.eDAT.acidenteDat[0].numeroLogradouroAcidenteCruzamento"
				[disabled]="edatService.edicaoDAT == false">
			</div>
		</div>
	</fieldset>
</div>
