<app-header></app-header>
<div class="container">
	<div class="row equal-height-panels">
		<div class="col-md-4">
			<div class="panel" style="border: 6px solid #F0E68C;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
			  <div class="panel-heading" style="font-family:Arial, Helvetica, sans-serif;font-size: large;background-color:#F0E68C;text-align:center;color:black;font-weight:bold;">Acesso exclusivo SETTRAN</div>
			  <div class="panel-body">
				  <form class="form-signin" style="text-align:center;">
					<h4 class="form-signin-heading">Dados de usuario</h4>
					<div class="row-fluid" style="padding-bottom: 10px">
						<label for="username" class="sr-only">E-mail</label>
						<input type="email" id="username" name="username" [(ngModel)]="registerCredentials.usuario" class="form-control" placeholder="Usuário" required autofocus>
					</div>
					<div class="row-fluid" style="padding-bottom: 10px">
						<label for="password" class="sr-only">Senha</label>
						<input type="password" id="password" name="password" [(ngModel)]="registerCredentials.senha" class="form-control" placeholder="Senha" required>
					</div>
					<div class="row-fluid" style="padding-bottom: 10px;">
						<button class="btn" (click)="entrar()"
						style="border-color: #F0E68C !important;background-color: #F0E68C;color:black;font-weight:bold;border: solid 1px;">Entrar</button>
					</div>
					<div>
					  <label>
						<a style="color:black;cursor:pointer;" type="submit" data-toggle="modal" data-target="#esqueciSenhaModal"> Esqueci minha senha </a>
					  </label>
					</div>
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel" style="border: 6px solid #F0E68C;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
			  <div class="panel-heading" style="font-family:Arial, Helvetica, sans-serif;font-size: large;background-color:#F0E68C;text-align:center;color:black;font-weight:bold;">Acesso munícipe</div>
			  <div class="panel-body">
				<ul>
				<li style="padding-bottom:15px;"><a href="javascript:;" [routerLink]="['cadastro-dat']" style="cursor: pointer;font-size:large;padding-bottom:10px;">Registrar Declaração de Acidente de Trânsito (DAT)</a></li>
				<li style="padding-bottom:15px;"><a href="javascript:;" [routerLink]="['consulta-dat']" style="cursor: pointer;font-size:large;padding-bottom:10px;">Consultar Declaração de Acidente de Trânsito (DAT)</a></li>
				<li><a href="javascript:alert('Para solicitar a retificação de uma DAT imprima, preencha e entregue esse requerimento na SETTRAN.');window.open('http://ec2-54-232-223-144.sa-east-1.compute.amazonaws.com:8080/wsedat/rel/retificacaodat.pdf');" style="cursor: pointer;font-size:large;padding-bottom:10px;">Solicitar retificação de Declaração de Acidente de Trânsito (DAT)</a></li>

				<!--li style="padding-bottom:15px;"><a href="javascript:;" [routerLink]="['retifica-dat']" style="cursor: pointer;font-size:large;padding-bottom:10px;">Solicitar retificação de Declaração de Acidente de Trânsito (DAT)</a></li-->
				</ul>
			  </div>
			</div>
		</div>
	</div>
	<div class="row equal-height-panels">
		<div class="col-md-4">
			<div class="panel" style="border: 6px solid #F0E68C;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
			  <div class="panel-heading" style="font-family:Arial, Helvetica, sans-serif;font-size: large;background-color:#F0E68C;text-align:center;color:black;font-weight:bold;">Para cadastrar tenha em mãos os dados a seguir:</div>
			  <div class="panel-body">
				<ul>
					<li>CNH e RG do condutor;</li>
					<li>CRLV do veículo</li>
					<li>Endereço do local do acidente, data e horário do fato;</li>
					<li>Endereço de e-mail;</li>
					<li>Número de telefone para contato;</li>
				</ul>
			  </div>
			</div>
		</div>
		<div class="col-md-8">
			<app-faq-home></app-faq-home>
		</div>
	</div>
</div>
<div class="container" style="width:100%;text-align:center;background-color: black;color:white;font-weight:bold;">
	<p style="">Fale conosco: settrandatdot@uberlandia.mg.gov.br</p>
	<p style="">Telefone: (34) 3230-7400</p>
	<p style="">Avenida João Naves de Ávila, 5050, Pampulha, Uberlândia - MG</p>
</div>
<div id="esqueciSenhaModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Esqueci minha senha</h4>
      </div>
				<div class="modal-body">
					<div class="form-group">
						<label for="cpf">Informe seu CPF para receber uma nova senha</label>
						<input type="text" class="form-control cpf" id="cpf" name="cpf" required
						  [(ngModel)]="esqueciSenha.cpf" >
					</div>
				</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success" (click)="recuperarSenha()">Recuperar Senha</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
