<div id="regrasModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edição</h4>
      </div>
      <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
	    <div class="modal-body">
			<div class="form-group">
				<label for="nome">Ordem</label>
				<input type="text" class="form-control" id="ordem" name="ordem" readonly
				  [(ngModel)]="entity.ordem">
			</div>
			<div class="form-group">
				<label for="email">Regra</label>
				<input type="text" class="form-control" id="descricaoRegra" name="descricaoRegra" required 
				  [(ngModel)]="entity.descricaoRegra">
			</div>
			<div class="form-group" required>
				<label for="email">Resposta esperada</label> <br>
				<label><input type="radio" name="radiogroup" [checked]="entity.resposta == 'S'" (change)="alteraResposta('S');" >Sim</label>
				<label><input type="radio" name="radiogroup" [checked]="entity.resposta == 'N'" (change)="alteraResposta('N');" >Não</label>
			</div>
			<div class="form-group">
			  <label for="comment">Mensagem para resposta divergente</label>
			  <textarea type="text" class="form-control" id="msgDivergente" name="msgDivergente" [(ngModel)]="entity.msgDivergente" required>
			  </textarea>
			</div>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" style="float:left;" data-dismiss="modal"
            (click)="deleteData()">Excluir</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success" [disabled]="!usuarioForm.form.valid">Salvar</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->