<div class="container-fluid">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active" >
	  <a style="background-color:#F0E68C !important;color: black !important;" href="javascript:;">1. Perguntas Preliminares</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">2. Seu Veículo e Você</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">3. Dados do Acidente</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">4. Outros Veículos</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">5. Testemunhas</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">6. Relato do Acidente</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">7. Confirmação da DAT</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">8. Resumo</a></li>
	</ul>
	<div class="panel panel-default">
	  <div class="panel-body">
		  <router-outlet>
			<app-perguntas-preliminares></app-perguntas-preliminares>
		  </router-outlet>
	  </div>
	  <div class="panel-footer">
		<div class="row" style="text-align: center;">
		  <div class="col col-md-4">
			<button type="button" class="btn btn-danger" (click)="cancelar();">Cancelar</button>
		  </div>
		  <div class="col col-md-4">
			<button type="button" class="btn btn-success" (click)="voltar();">Voltar</button>
		  </div>
		  <div class="col col-md-4">
			<button type="button" class="btn btn-primary" (click)="avancar();"
			  style="background-color: #F0E68C;border-color: #F0E68C;color: black;">Próximo</button>
		  </div>
		</div>
	  </div>
	</div>
</div>