<div class="container-fluid">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active" >
	  <a style="background-color:#F0E68C !important;color: black !important;" href="javascript:;">1. Perguntas Preliminares</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">2. Seu Veículo e Você</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">3. Dados do Acidente</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">4. Outros Veículos</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">5. Testemunhas</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">6. Relato do Acidente</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">7. Confirmação da DAT</a></li>
	  <li role="presentation"><a style="color: black !important;" href="javascript:;">8. Resumo</a></li>
	</ul>
	<div class="row">
      <router-outlet>
		<app-perguntas-preliminares></app-perguntas-preliminares>
	  </router-outlet>
	</div>
</div>