<app-header></app-header>
<div class="container-fluid">
	<div class="panel panel-default">
	  <div class="panel-heading" style="font-family:Arial, Helvetica, sans-serif;font-size: large;background-color:#F0E68C;text-align:center;color:black;font-weight:bold;">
		Consultar DAT
	  </div>
	  <div class="panel-body">

		  <router-outlet>
			<fieldset style="border: 1px groove #ddd !important;padding: 0 1.4em 1.4em 1.4em !important;margin: 0 0 1.5em 0 !important;-webkit-box-shadow:  0px 0px 0px 0px #000;box-shadow:  0px 0px 0px 0px #000;">
				<legend style="width:inherit;padding:0 10px;border-bottom:none;">Dados para consulta</legend>
					<div class="row">
						<div class="form-group col-md-3">
						  <label class="control-label" for="codigoConfirmacao">Número da DAT</label>
						  <input type="text" class="form-control" id="codigoConfirmacao" name="codigoConfirmacao"
						  [(ngModel)]="dadosConsulta.codigoConfirmacao" required>
						</div>
						<div class="form-group col-md-3">
						  <label class="control-label" for="cpf">CPF do solicitante</label>
						  <input type="text" class="form-control cpf" id="cpf" name="cpf"
						  [(ngModel)]="dadosConsulta.cpf" required>
						</div>
						<div class="form-group col-md-3">
						  <label class="control-label" for="cnh">CNH do solicitante</label>
						  <input type="text" class="form-control cnh" id="cnh" name="cnh"
						  [(ngModel)]="dadosConsulta.cnh" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-3">
						  <label class="control-label" for="captcha">Digite os caracteres</label>
						  <input type="text" class="form-control" id="captcha" name="captcha"
						  [(ngModel)]="captchaUsuario">
						</div>
						<div class="form-group nao-obrigatorio col-md-3">
							<div [ngStyle]="{ 'background-image': 'url(' + captchaURLImg + ')'}" style="height:69px;background-repeat: no-repeat;"></div>
						</div>
						<div class="form-group nao-obrigatorio col-md-2">
							<button type="submit" class="btn btn-primary"
							  style="background-color: #F0E68C;border-color: #F0E68C;color: black;margin-top:25px;" (click)="carregarCaptcha();">Recarregar</button>
						</div>
					</div>
			</fieldset>
		  </router-outlet>
	  </div>
	  <div class="panel-footer">
		<div class="row" style="text-align: center;">
			<button type="button" class="btn btn-danger" (click)="cancelar();">Cancelar</button>
			<button type="submit" class="btn btn-primary"
			  style="background-color: #F0E68C;border-color: #F0E68C;color: black;" (click)="consultar();">Confirmar</button>
		</div>
	  </div>
	</div>
</div>
