<router-outlet>
  <app-grid *ngIf="mostrarGrid"
    [gridTitle]="gridTitle"
    [service]="4"
    [paginated]="true"
    [reorder]="false"
    [search]="true"
    [create]="false"
    (onObjectChange)="updateObjectParameter($event)"
    [row_detail]="{'isModal':false,'modalName':''}"
    [columns]="[
  	{'name':'#','filter':false,'attr':''},
  	{'name':'Número','filter':true,'attr':'codigoConfirmacaoDat'},
  	{'name':'Solicitante', 'filter':false, 'attr':'nomeMunicipe'},
  	{'name':'Parecer do Agente', 'filter':false, 'attr':'nomeMunicipe'},
    {'name':'Status', 'filter':false, 'attr':'dataRegistro'}]" >
  </app-grid>
</router-outlet>
<div class="container-fluid" id="bottom" >
  <div class="panel panel-default">

    <div class="panel-body">
      <fieldset>
    		<legend>Deferir solicitação de retificação?</legend>
        <div class="row" style="margin-left: 15px;">
          <div class="col">
    			  <label class=''><input type="radio" name="status-req"
    					(change)="alteraSituacaoDAT('DEF');"
    					>Deferir</label>
    			  <label class=''><input type="radio" name="status-req"
    					(change)="alteraSituacaoDAT('IND');"
    					>Indeferir</label>
          </div>
        </div>
  	  </fieldset>
      <div class="col col-md-9">
        <label class="control-label" for="foto1">Parecer</label>
        <textarea class="form-control" rows="5" maxlength="3000" id="parecerDAT"
        [(ngModel)]="edatService.eDAT.textoValidacao"></textarea>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row" style="text-align: center;">
        <div class="col col-md-6">
          <button type="button" class="btn btn-danger" (click)="cancelar();">Cancelar</button>
        </div>
        <div class="col col-md-6">
          <button type="button" class="btn btn-primary" (click)="validarDAT();"
          style="background-color: #F0E68C;border-color: #F0E68C;color: black;">Indeferir</button>
        </div>
      </div>
    </div>
  </div>
</div>
