<app-header></app-header>
<app-subheader></app-subheader>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" style="background-color:#F0E68C !important;text-align:center !important;color:black !important;font-weight:bold !important;">
			<a style="text-align:center;text-weight:bolder;color:black;" href="javascript:;" data-toggle="tab">Menu</a></li>
        <li role="presentation"><a style="color: black !important;" href="javascript:;" [routerLink]="['cadastro-agente']">Agentes</a></li>
        <li role="presentation"><a style="color: black !important;" href="javascript:;" [routerLink]="['cadastro-regra']">Regras eDAT</a></li>
		<li role="presentation"><a style="color: black !important;" href="javascript:;" [routerLink]="['cadastro-faq']">Perguntas Frequentes</a></li>
      </ul>
    </div>
    <div class="col-md-9 middle-panel">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
