<div class="container-fluid" style="padding-top: 19px;">
	<fieldset style="border: 1px groove #ddd !important;padding: 0 1.4em 1.4em 1.4em !important;margin: 0 0 1.5em 0 !important;-webkit-box-shadow:  0px 0px 0px 0px #000;box-shadow:  0px 0px 0px 0px #000;">
		<legend style="width:inherit;padding:0 10px;border-bottom:none;">Relate sua versão do acidente</legend>
		<div class="row">
			<div class="form-group">
			  <textarea class="form-control" rows="5" maxlength="1500" id="descricaoRelatoAcidente"
			  [(ngModel)]="edatService.eDAT.relatoDat[0].descricaoRelatoAcidente"
				[disabled]="edatService.edicaoDAT == false"></textarea>
				<label class="control-label" for="descricaoRelatoAcidente">Máximo de caracteres: {{1500 - edatService.eDAT.relatoDat[0].descricaoRelatoAcidente.length}}</label>
				<label class="control-label" for="descricaoRelatoAcidente" style="color:red;font-style:italic;">*Este campo de texto é livre para que o usuário possa descrever o acidente com suas palavras.</label>
			</div>
		</div>
	</fieldset>
	<fieldset style="border: 1px groove #ddd !important;padding: 0 1.4em 1.4em 1.4em !important;margin: 0 0 1.5em 0 !important;-webkit-box-shadow:  0px 0px 0px 0px #000;box-shadow:  0px 0px 0px 0px #000;">
		<div *ngIf="edatService.edicaoFotos">
			<legend style="width:inherit;padding:0 10px;border-bottom:none;">Adicione fotos do acidente e/ou veículos</legend>
			<div class=" row">
				<div class="form-group col-md-6">
					<label class="control-label" for="foto1">Foto 1:</label>
					<div class="row">
						<div class="col col-md-3">
							<input type="file" class="form-control" style="width:102px;"hidden id="foto0" accept="image/*"
							(change)="changeListener($event, 0)">
						</div>
						<div class="col col-md-9">
							<input type="text" class="form-control" id="fotoPath0"
							[(ngModel)]="edatService.eDAT.fotosDat[0].urlFoto">
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="foto0">Descrição da foto</label>
					<input type="text" class="form-control" id="descFoto0"
					[(ngModel)]="edatService.eDAT.fotosDat[0].descricaoFoto">
				</div>
			</div>
			<div class=" row">
				<div class="form-group col-md-6">
					<label class="control-label" for="foto1">Foto 2:</label>
					<div class="row">
						<div class="col col-md-3">
							<input type="file" class="form-control" style="width:102px;"hidden id="foto1" accept="image/*"
							(change)="changeListener($event, 1)">
						</div>
						<div class="col col-md-9">
							<input type="text" class="form-control" id="fotoPath1"
							[(ngModel)]="edatService.eDAT.fotosDat[1].urlFoto">
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="foto1">Descrição da foto</label>
					<input type="text" class="form-control" id="descFoto1"
					[(ngModel)]="edatService.eDAT.fotosDat[1].descricaoFoto">
				</div>
			</div>
			<div class=" row">
				<div class="form-group col-md-6">
					<label class="control-label" for="foto1">Foto 3:</label>
					<div class="row">
						<div class="col col-md-3">
							<input type="file" class="form-control" style="width:102px;"hidden id="foto2" accept="image/*"
							(change)="changeListener($event, 2)">
						</div>
						<div class="col col-md-9">
							<input type="text" class="form-control" id="fotoPath2"
							[(ngModel)]="edatService.eDAT.fotosDat[2].urlFoto">
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="foto2">Descrição da foto</label>
					<input type="text" class="form-control" id="descFoto2"
					[(ngModel)]="edatService.eDAT.fotosDat[2].descricaoFoto">
				</div>
			</div>
			<div class=" row">
				<div class="form-group col-md-6">
					<label class="control-label" for="foto1">Foto 4:</label>
					<div class="row">
						<div class="col col-md-3">
							<input type="file" class="form-control" style="width:102px;"hidden id="foto3" accept="image/*"
							(change)="changeListener($event, 3)">
						</div>
						<div class="col col-md-9">
							<input type="text" class="form-control" id="fotoPath3"
							[(ngModel)]="edatService.eDAT.fotosDat[3].urlFoto">
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="foto3">Descrição da foto</label>
					<input type="text" class="form-control" id="descFoto3"
					[(ngModel)]="edatService.eDAT.fotosDat[3].descricaoFoto">
				</div>
			</div>
			<div class=" row">
				<div class="form-group col-md-6">
					<label class="control-label" for="foto4">Foto 5:</label>
					<div class="row">
						<div class="col col-md-3">
							<input type="file" class="form-control" style="width:102px;"hidden id="foto4" accept="image/*"
							(change)="changeListener($event, 4)">
						</div>
						<div class="col col-md-9">
							<input type="text" class="form-control" id="fotoPath4"
							[(ngModel)]="edatService.eDAT.fotosDat[4].urlFoto">
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="foto4">Descrição da foto</label>
					<input type="text" class="form-control" id="descFoto4"
					[(ngModel)]="edatService.eDAT.fotosDat[4].descricaoFoto">
				</div>
			</div>
			<label class="control-label" for="descricaoRelatoAcidente" style="color:red;">Tamanho máximo de cada foto: 300Kb</label>
		</div>
		<div *ngIf="!edatService.edicaoDAT">
			<legend style="width:inherit;padding:0 10px;border-bottom:none;">Fotos anexadas</legend>
			<div class="row" *ngFor='let foto of edatService.eDAT.fotosDat;let currentElementIndex = index;'>
				<div class="form-group col-md-6">
					<label class="control-label" for="foto1">Descrição da foto</label>
					<input [disabled]="edatService.edicaoDAT == false" type="text" class="form-control"
					id="descFoto+{{currentElementIndex}}"
					[(ngModel)]="foto.descricaoFoto">
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="foto1">Clique aqui para carregar a foto</label>
					<a class="form-control" target="_blank" href="{{url+foto.urlFoto}}">
						Foto {{currentElementIndex+1}}</a>
				</div>
			</div>
		</div>
	</fieldset>
</div>
