<div class="container-fluid" style="padding-top: 19px;">
	<fieldset style="border: 1px groove #ddd !important;padding: 0 1.4em 1.4em 1.4em !important;margin: 0 0 1.5em 0 !important;-webkit-box-shadow:  0px 0px 0px 0px #000;box-shadow:  0px 0px 0px 0px #000;">
		<legend style="width:inherit;padding:0 10px;border-bottom:none;">Relate sua versão do acidente</legend>
		<div class="row">
			<div class="form-group">
			  <textarea class="form-control" rows="5" maxlength="1500" id="descricaoRelatoAcidente"
			  [(ngModel)]="edatService.eDAT.relatoDat[0].descricaoRelatoAcidente"></textarea>
			  <label class="control-label" for="descricaoRelatoAcidente">Máximo de caracteres: {{1500 - edatService.eDAT.relatoDat[0].descricaoRelatoAcidente.length}}</label>
			</div>
		</div>		
	</fieldset>
	<fieldset style="border: 1px groove #ddd !important;padding: 0 1.4em 1.4em 1.4em !important;margin: 0 0 1.5em 0 !important;-webkit-box-shadow:  0px 0px 0px 0px #000;box-shadow:  0px 0px 0px 0px #000;">
		<legend style="width:inherit;padding:0 10px;border-bottom:none;">Adicione fotos do acidente e/ou veículos</legend>
		<div class=" row">
			<div class="form-group col-md-6">
				<label class="control-label" for="foto1">Foto 1:</label>
				<input type="file" class="form-control" hidden id="foto1">
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="foto1">Descrição da foto</label>
				<input type="text" class="form-control" id="descFoto1">
			</div>
		</div>
		<div class=" row">
			<div class="form-group col-md-6">
				<label class="control-label" for="foto2">Foto 2:</label>
				<input type="file" class="form-control" hidden id="foto2">
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="foto2">Descrição da foto</label>
				<input type="text" class="form-control" id="descFoto2">
			</div>
		</div>
		<div class=" row">
			<div class="form-group col-md-6">
				<label class="control-label" for="foto3">Foto 3:</label>
				<input type="file" class="form-control" hidden id="foto3">
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="foto3">Descrição da foto</label>
				<input type="text" class="form-control" id="descFoto3">
			</div>
		</div>
		<div class=" row">
			<div class="form-group col-md-6">
				<label class="control-label" for="foto4">Foto 4:</label>
				<input type="file" class="form-control" hidden id="foto4">
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="foto4">Descrição da foto</label>
				<input type="text" class="form-control" id="descFoto4">
			</div>
		</div>
		<div class=" row">
			<div class="form-group col-md-6">
				<label class="control-label" for="foto5">Foto 5:</label>
				<input type="file" class="form-control" hidden id="foto5">
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="foto5">Descrição da foto</label>
				<input type="text" class="form-control" id="descFoto5">
			</div>
		</div>
		<label class="control-label" for="descricaoRelatoAcidente" style="color:red;">Tamanho máximo de cada foto: 300Kb</label>
	</fieldset>
</div>